body{overflow:hidden;}

.App {
  text-align: center;
}
button{
font-size:17px;
margin:3px;
}
input[type="text"] {
  margin:3px;
  font-size:.9em;
}
input[type="checkbox"] {
  -webkit-transform: scale(1.5, 1.5);
  margin:5px;
}
.ebox{
  width:380px; 
  Xborder:1px solid blue;
  clear:both;
}
.cbox{
  width:190px; 
  Xborder:1px solid black;
  float:left;
}
ul{margin-bottom:20px;}
.bbox{
  margin-top:-5px;
  margin-bottom:5px;
  width:180px; 
  Xborder:1px solid black;
  float:right;
}
.setup{
  font-size: 1.15em;
  line-height: 1.5em;
  text-align:left;
  width:380px;
  margin-left:auto; margin-right:auto;
  }
.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.ProgHolder{
  margin-left:auto;
  margin-right:auto;
  
  background-color:#00f;
  width:380px;

}
.setupHolder{
  padding:10px;
  border:1px solid black;
  margin-left:auto;
  margin-top:5px;
  margin-right:auto;
  background-color:#eef;
  width:380px;

}
.navHolder{
  padding:0px;
  background-color:#888;
  text-align:center;
  width:100%;
  width:100%;
  height:30px;
}
.itemHolder{
  padding:5px;
  border:1px solid black;
  margin-left:auto;
  margin-right:auto;
  
  background-color:#eef;
  width:360px;

}
.ProgWrapper{
  width:100%;
  height:80px;
  background-color:#000;
}
.ProgFill{
  height:25px;
  width:100%;
  //background-color:#ccc;
}
.ProgBack{
  width:290px;
  height:25px;
  border:1px solid white;
  float:left;
  margin:5px;
}
.ProgLabel{
  line-height:25px;
  border:1px solid white;
  margin:5px;
  width:65px;
  height:25px;
  float:right;
  text-align:center;
}